// divs -  header nav

header {
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 20px 0;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 80%;
    // text-align: center;
    

    a {
      margin-left: 20px;
      font-size: 1.8rem;
      // color: @font-color;
      text-decoration: none;
      
    } // close a
  
  
  } // close nav
  

  // @media @mobile {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-evenly;
  //   align-items: center;
  // } // close @media 
  
} // close header

